{{ define "root/index.html" }}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="js/test.js"></script>
</head>

<body>
    ・ツール<br>
    <a href="/booking/">パーティー募集</a><br>
    <a href="/simulator/skill">スキルシミュ</a><br>
    <a href="/map/">MAPメモ</a><br>
    <a href="/introductioncard">自己紹介カード</a><br>
    <br>

    ・コミュニティ<br>
    <a href="/qa/">Q&A</a><br>
    <a href="/bbs/">BBS</a><br>
    <a href="/stream/">ライブ配信</a><br>
    <br>

    ・設定<br>
    <a href="/setting/character">キャラクター設定</a><br>
    <a href="/setting/general">全般設定</a><br>
    <br>

</body>

</html>
{{ end }}